* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

body {
  background-color: : #ececec;
}

main, footer {
  margin: 20px 40px;
}

h1, h2 {
  margin-bottom: 30px;
}

p {
  margin-bottom: 20px;
  line-height: 1.5em;
  font-size: 14px;
}

a {
  color: #bd1515;
}

a:visited {
  color: #cc4545);
}

#chartman {
  width: 100%;
}

#remoteRepo {
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  main, footer {
    margin: 40px 80px;
    max-width: 1200px;
  }
  p {
    margin-bottom: 20px;
    width: 80%;
    line-height: 1.5em;
    font-size: 14px;
  }
}
